# =========================================================================
#  SEGURIDAD: PROTECCIÓN DE CONTRASEÑAS Y PASARELAS (PostgreSQL / dev)
# =========================================================================
# Bloquea por completo el archivo de desarrollo local para proteger tus datos
**/src/main/resources/application-dev.properties
**/src/main/resources/application-local.properties

# Archivos de bitácora o logs con credenciales volcadas
*.log
*.log.*
Logfile.log

# =========================================================================
#  Gradle - Ficheros y Carpetas de Compilación
# =========================================================================
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Clases compiladas sueltas
*.class
**/bin/
**/out/

# =========================================================================
#  IDEs y editores de código (IntelliJ, STS, VS Code, NetBeans)
# =========================================================================

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### VS Code ###
.vscode/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# =========================================================================
# Empaquetados finales y temporales
# =========================================================================
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# =========================================================================
#  Sistema Operativo (Basura de Windows / Mac)
# =========================================================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# =========================================================================
# Documentación del proyecto (Descomenta si no deseas subir el HELP)
# =========================================================================
# HELP.md